.aside {
  color: white;
  float: right;
}
form {
  float: left;
  width: 500px;
  padding-left: 50px;
  clear: both;
}
img {
  width: 300px;
  margin: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eceff3;
  color: black;
  text-align: center;
}
.cardmb-3 {
  margin: 25px;
}
.imagegallery {
  margin: 25px;
}
.article {
  margin: 25px;
}
body {
  background-image: url(https://images.unsplash.com/photo-1534175507998-e5477e27c2c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.header {
  font-style: italic;
  font-family: fantasy;
  color: white;
}
.form-group {
  color: white;
}
